/* ================
    Global
   ================ */
:root {
  --clr-primary: #FBF2D8;
  --clr-primary-accent: #52667A;

  --clr-secondary: #342E3F;
  --clr-secondary-accent: #FFB291;

  --clr-basic-primary: #fff;
  --clr-basic-primary-accent: #000;

  --fnt-primary: 'Roboto', sans-serif;
  --fnt-accent: 'Roboto Slab', serif;

  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}

body a,
.iconify-inline {
  text-decoration: none;
  color: var(--clr-primary);
}

/* ================
    Navigation
   ================ */
nav {
  position: relative;
  height: 3.5rem;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--clr-primary-accent);
  color: var(--clr-primary);
}

.nav-item {
  position: sticky;
  height: 3.5rem;
  margin: 0;
}

#popout-menu-icon {
  margin: 0 1rem;
  font-size: 1.3rem;
}

.nav-logo {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .nav-menu {
  display: none;
} */

.nav-menu {
  display: block;
  width: 100%;
  height: 100%;
}

.nav-menu a {
  text-align: center;

  font-size: 1.5rem;
  color: var(--clr-primary);

  padding: 1rem 1.5rem;
  margin: 0;
  position: sticky;
  top: 50%;
}

.nav-menu a:hover {
  background-color: var(--clr-primary);
  color: var(--clr-primary-accent);
}

/* ================
    Profile
   ================ */
#profile {
  display: block;
  height: calc(100% - 3.5rem);
  padding: 1rem;
  margin: 0;
  text-align: center;
}

#profile-wrapper {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#name {
  font-family: var(--fnt-primary);
  font-size: 2rem;
}

#overview {
  font-family: var(--fnt-accent);
  font-size: 1.1rem;
  line-height: 1.5em;
}

.contact-item {
  font-size: 1.7rem;
  margin: 1.5rem 1.4rem;
}

/* ================
    About
   ================ */
#about {
  display: block;
  height: calc(100% - 3.5rem);
  margin: 0;
  padding: 1rem 1.1rem;
  background-color: var(--clr-basic-primary);
  color: var(--clr-secondary);
}

#greetings {
  font-family: var(--fnt-primary);
  font-size: 1.15rem;
  font-weight: 900;
  margin-bottom: 1.7em;
}

#about-me {
  font-family: var(--fnt-accent);
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.3em;
  line-break: strict;
}


/* ================
    Footer
   ================ */
